<!DOCTYPE html>
<html>
  <head>
    <title>puzzl party</title>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/main.css">

  </head>

  <body>

    <h1>Nice!</h1>

    <p>Let's spice things up a bit shall we?</p>

    <div id="puzzleBlock" style="width: 430px">
      <p>VGhpcyBpcyB0aGUgbmV4dCBwYWdlOiAvbmlja3N1Y2tzZGljaw==</p>
    </div>

    <p><i>Hm, what could this odd string be?</i></p>

  </body>

</html>
