<!DOCTYPE html>
<html>
  <head>
    <title>Chow Place</title>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/main.css">

  </head>

  <body>

    <h1><a href="/">Chow<span>Place</span></a></h1>

    <div class="container">

      <% include topbar.ejs %>

      chat page

    </div>

    <script type="text/javascript" src="js/main.js"></script>

  </body>

</html>
