<!DOCTYPE html>
<html>
  <head>
    <title>puzzl party</title>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/main.css">

  </head>

  <body>

    <p>Welcome!</p>

    <script type="text/javascript" src="js/main.js"></script>

  </body>

</html>
