<!DOCTYPE html>
<html>
  <head>
    <title>puzzl party</title>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/main.css">

  </head>

  <body>

    <h1>Welcome to Puzzl Party!</h1>
    <h3>Are you ready for a challenge?</h3>
    <p>Well, you better be, if you want to get to continue!</p>
    <p>Let's start easy shall we?</p>
    <p>Here's is your first hint: /start</p>

    <div style="visibility: hidden;">
      /start
    </div></div>

    <script type="text/javascript" src="js/main.js"></script>

  </body>

</html>
