<!DOCTYPE html>
<html>
  <head>
    <title>puzzl party</title>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  </head>

  <body>

    <h1>Ha ha, so funny.</h1>

    <p>Hope you liked that one.</p>

    <p>Your next challenge to to steal money from a poorly made banking
      application.</p>

    <p>Below, is the banking interface. It shows your current bank account
      number, 44, and amount, $0. At the bottom, you can select an amount
      to send to another user's account, by setting the amount and account #.
    </p>

    <p>Currently, you can't send anything because you have $0.</p>
    <p>
      You have to find a way to get at least $100 in your account.
    </p>

    <div id="bank">
      <div id="refresh"></div>
      <p>Account Num: 44</p>
      <p>Amount:</p>
      <div id="bank_amount">- - -</div>
      <p class='center'>-----------------</p>
      <p class='center'><u>SEND MONEY</u></p>
      <p>amount:</p>
      <span>$ </span><input type="text" id="amountInput"/>
      <p>recipient account num:</p>
      <span># </span><input type="text" id="recipientInput"/>
      <button id="send_money">Send Money</button>
      <div id="error_message"></div>
    </div>

    <script type="text/javascript" src="js/nicksucksdick.js"></script>

  </body>

</html>
