<!DOCTYPE html>
<html>
  <head>
    <title>Search | Chow Place</title>
    <% include partial/favicon.ejs %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/lib/easy-autocomplete.min.css">
    <link rel="stylesheet" type="text/css" href="css/search.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
  </head>

  <body>

    <% include partial/octocat.ejs %>

    <% include partial/logo.ejs %>

    <div class="container">

      <% include partial/topbar.ejs %>

      <h2>Search for some chow:</h2>

      <div class="searchbar_container">
        <input class="searchbar" placeholder="search anything..."/>
      </div>

      <br />
      <div class="error_box">Please allow location settings to continue!</div>
    </div>

    <% include partial/footer.ejs %>

    <div class="container2">

      <div id="target"></div>

      <script id="template" type="text/x-handlebars-template">

        <h3>
          Places Near You:
        </h3>

        {{#list businesses}}
          <div class="search_result">

            <img class="business_img" src="{{image_url}}" />

            <div class="business_rating" style="width: {{multiply rating 15}}%;">


              <div class="business_name">
                <p>{{name}} | {{price}}</p>
              </div>
              <div class="business_address">
                <p>{{location.display_address}}</p>
              </div>
              <div class="business_phone">
                <p>{{display_phone}}</p>
              </div>

            </div>

            <div class="rating_number">
              {{rating}}/5
            </div>

          </div>
        {{/list}}


      </script>



    </div>

    <div id="raw_data"></div>

    <% include partial/libraries.ejs %>

    <script type="text/javascript" src="js/searchJS.js"></script>


  </body>

</html>
