<!DOCTYPE html>
<html>
  <head>
    <title>puzzl party</title>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/main.css">

  </head>

  <body>

    <h1>Error: 404 - Page not Found</h1>
    <p><i>
      Tip: 'Never over
      <div style="display: none;">/purpleBanana</div>
      look a thing. Not even extra whitespace.'
    </i></p>

    <div style="visibility: hidden;">
      /start
    </div></div>

  </body>

</html>
