@font-face {
  font-family: 'gibold';
  src: url('fonts/GI-Bold.otf');
}

@font-face {
  font-family: 'giregular';
  src: url('fonts/GI-Regular.otf');
}

body {
  font-family: 'gibold';
}

h1 {
  font-size: 40px;
  line-height: 20px;
}

h1 a {

  color: #1ADA00;
  text-decoration: none;
}

h1 span {
  color: #FF5757;
}

.topbar {
  position: absolute;
  display: block;
  /*border: thin solid red;*/
  margin-left: 10%;
  top: -20px;
}

.topbar a {
  text-decoration: none;
  position: inline;
  margin-left: 20px;
  margin-right: 20px;
  color: #FF5757;
}

.topbar a:hover {
  opacity: 0.75;
}

.container {
  position: relative;
  max-width: 650px;
  display: block;
  background-color: #60E14F;
  margin: 0 auto;
  height: 40px;
  border-radius: 10px;
  margin-top: 50px;
}
