@font-face {
  font-family: 'gibold';
  src: url('fonts/GI-Bold.otf');
}

@font-face {
  font-family: 'giregular';
  src: url('fonts/GI-Regular.otf');
}

body {
  font-family: 'giregular';
}

h1 {
  font-size: 40px;
  line-height: 20px;
}

h1 a {

  color: #1ADA00;
  text-decoration: none;
}

h1 span {
  color: #FF5757;
}

h2 {
  font-size: 25px;
  font-family: 'gibold';
  text-align: center;
  padding-top: 20px;
  color: #FF5757;
}

h3 {
  font-size: 20px;
  font-family: 'gibold';
  line-height: 10px;
  color: #FF5757;
}

.topbar {
  position: absolute;
  display: block;
  /*border: thin solid red;*/
  margin-left: 10%;
  top: -20px;
}

.topbar a {
  text-decoration: none;
  position: inline;
  margin-left: 20px;
  margin-right: 20px;
  color: #FF5757;
}

.topbar a:hover {
  opacity: 0.75;
}

.container {
  position: relative;
  max-width: 650px;
  display: block;
  background-color: #7EE570;
  margin: 0 auto;
  border-radius: 10px;
  margin-top: 50px;
}

.footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.footer p {
  font-family: 'giregular';
  color: grey;
  position: relative;
  text-align: center;
}

.footer a {
  font-family: 'giregular';
  text-decoration: underline;
  color: black;
}

.footer a:hover {
  opacity: 0.75;
}

#octocat {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 40px;
  padding: 5px;
  transition: opacity, .5s;
}

#octocat:hover{
  opacity: .75;
}

#octocat:hover + #octocat_label {
  opacity: 1;
  top: 15px;
}

#octocat_label {
  display: block;
  opacity: 0.0;
  position: absolute;
  right: 50px;
  top: -20px;
  transition: opacity .5s, top .5s;
}

#octocat_link {
  text-decoration: underline;
  color: black;
}

.error_box {
  display: none;
  text-align: center;
  color: red;
  padding: 20px;
  font-family: 'gibold';
}
